#panel_navigator{
    position: fixed;
    z-index: 1;
    right: 0px;
    top: 33%;
    margin: auto;
}

body{
    font-family: "Roboto";
    position: relative;
}

#titleArea
{
    background-color: lightgrey;
}

section
{
    height: 100vh;
    width: 100%;
}

